<header>

<div class="header-container">

<div>

<!<img src ="https://logos-world.net/wp-content/uploads/2022/01/Looney-Tunes-Logo-1985.png">

<%=link_to image_tag("logo.png",alt:"Logo",width:"200",height:"100"),"#" %>

</div>

<div class="heading">

<%=link_to "My Website",root_path,id:"logo" %>

</div>

</div>

<nav class="nav-bar">

<%= link_to "Home",root_path %>

<%= link_to "About",about_path %>

<%= link_to "Contact",contact_path %>

<%= link_to "Help",help_path %>



<% if logged_in? %>

<%= link_to "Update Profile",edit_user_path(current_user) %>

<%= link_to "Log Out", logout_path, method: :delete %>

<% else %>

<%= link_to "Login", login_path %>

<%= link_to "Sign Up", signup_path %>

<% end %>



</nav>

</div>

</header>