<header>

<div class="header-container">

<div>

<!<img src ="https://logos-world.net/wp-content/uploads/2022/01/Looney-Tunes-Logo-1985.png">

<%=link_to image_tag("logo.png",alt:"Logo",width:"200",height:"100"),"#" %>

</div>

<div class="heading">

<%=link_to "My Website",root_path,id:"logo" %>

</div>

</div>

<nav class="nav-bar">

<%= link_to "Home",root_path %>

<%= link_to "About",about_path %>

<%= link_to "Contact",contact_path %>

<%= link_to "Help",help_path %>

<%= link_to "Log in","#" %>

<%= link_to "Sign up",signup_path %>

</nav>

</div>

</header>